<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.bahj.smelt.category.wizards"
            name="Smelt Wizards">
      </category>
      <wizard
            category="com.bahj.smelt.category.wizards"
            class="com.bahj.smelt.wizards.NewProjectWizard"
            finalPerspective="com.bahj.smelt.perspective"
            id="com.bahj.smelt.wizards.NewSmeltProjectWizard"
            name="Smelt Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="com.bahj.smelt.navigator"
            name="Smelt Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.bahj.smelt.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.bahj.smelt.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bahj.smelt.perspective.PerspectiveFactory"
            id="com.bahj.smelt.perspective"
            name="Smelt">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bahj.smelt.perspective">
         <view
               id="com.bahj.smelt.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="com.bahj.smelt.projectNature"
         name="Smelt Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.bahj.smelt.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
</plugin>
